body {
  background-color: rgb(138, 18, 190);
}

p {
  color: rgb(0, 255, 255);
  font-style: italic;
}

h1 {
  color: #fff;
  font-size: 25px;
}

header {
  background-color: blanchedalmond;
  padding: 25px;
  margin: 25px 5px 5px 25px;
  border-radius: 25%;
}

img {
  border-radius: 25%;
}
